*{ margin:auto; pading:auto;}
a{text-decoration:none;}

.clearfix{overflow:auto;}

.logo{
	width: 500px;
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	
}

.sit-search{
	padding-right:20px ;
	float:right;
	margin: 0px;
	background: white;
	border-radius: 0 10px;

}
.sit-search input{
	margin-top: 2px;
	border: 0px;
	color: gray;
}
.sit-search button{
	border-radius: 30px;
	padding:10px;
	border: none;
	margin-right: 10px;
	color: #62676f;

}
.sit-search button:hover{
	background: gray;

}


nav{
	background: white;
	text-align: center;
}
nav ul{
	list-style: none;
}
nav ul li{
	display: inline;
}
nav ul li a{
	font-size: large;
	color: gray;
	margin-top: 1px;
	margin-right:40px;
	margin-bottom: 10px;
	margin-left: 20px; 
	display: inline-block;

}
nav ul li a:hover:not(.active) {
	background: whitesmoke;
	
}

.FT-Up{
	width:auto;
	background: #8B8B8B;
	height: 200px;
}
.L-col{
	width:300px;
	float:left;
	margin-left: 31.5px;

}
.L-col h2{
	font-size: 24px;
	margin-top: 63px;
	margin-left: 120px;
	color: whitesmoke;
	
}
.L-col a{
	 font-size: 15px;
	 margin-left: 45px;
	 margin-top:13px;
	 color: white;
	 
}
.L-col img{
	margin-top: 40px;
	margin-left: 230px;
}
#Number-align{
	margin-left: 115px;
	letter-spacing: 2px;
	font-family: 'Times New Roman', serif;
}	 
#Mail-align{
	letter-spacing: 2px;
	font-family: 'Times New Roman', serif;

}
.L-col h3{
	font-size: 18px;
	margin-top: 80px;
	margin-left: 550px;
	color: whitesmoke;
}
.FT-Down{
    font-size: smaller;
    text-align: center;
    padding: 13px;

}
.social-Icon{
	
	margin-top: 110px;
	margin-right: 89px;
	float: right;
}
.social-Icon ul{
	list-style: none;
}
.social-Icon ul li{
	display:inline;
}
.social-Icon ul li a{
	
	 margin-left: 8px;
	 color: white;
}


/*log*/




body {font-family: Arial, Helvetica, sans-serif; width: auto:}
form {border: 10px solid #f1f1f1; width:700px; padding: 70px; margin-bottom: 90px; background-color: whitesmoke; margin-left:300px }

.login-h2{
	text-align: center;
	padding: 20px;
	color: darkslategray;
	margin-top: 62px;


}

input[type=text], input[type=password] {
  width: 540px;
  padding: 15px 20px;
  margin: 18px ;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 50px;

}

.login-button button{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  float: right;
  border-radius: 20px;
}

.login-button button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: ghostwhite;
  cursor: pointer;
  border-radius: 15px;
}
.cancelbtn:hover {
  opacity: 0.5;

}
  .cancelbtn {
     width: 100%;
  }

